.english {
    opacity: 0.6;
    cursor: not-allowed;
}

.TextBox1 {
    margin-bottom: 5px;
}

.TextBox2 {
    margin-bottom: 5px;
}

.TextBox3 {
    margin-bottom: 5px;
}

.header {
    font-size: 35px;
    font-weight: bold;
}

.subheader {
    font-size: 25px
}

.captcha {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnSubmit {
    background-color: orangered;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.Text1 {
    width: 50%%;
}

.resolved {
    color: green;
    background-color: yellow;
}

.apptcancel {
    color: white;
    background-color: red;
}

.apptchng {
    color: white;
    background-color: green
}

.apptloginname {
    background-color: grey;
}

.retrieveadd {
    background-color: orangered;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.specialtb {
    background-color: grey;
}

.Label1 {
    font-weight: bold;
}

.DropDownList1 {
    color: mediumvioletred;
    font-weight: bold;
}

.apptAdminlbl {
    font-weight: bold;
}

.btnSearch_admin {
    background-color: orangered;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.mycheckbox input[type="checkbox"] {
    margin-right: 5px;
}