body {
    height: 100%;
}




.grid-container {
    
}


.myGrid {
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    margin-left:10px;
    margin-right:10px;
}

tr:nth-child(even) {
    background: #f5f5f5;
}

tr:nth-child(odd) {
    background: #FFF;
}

.myGrid tbody tr th{
    background: #36304a;
    color:#ffffff;
    border: none;
}


.myGrid tbody tr td {
    border: none;
    border-bottom: 1px solid #B0B0B0;
    border-top: 1px solid #B0B0B0;
}

.myPager, .myPager table tbody {
    border: none;
}

.myPager tbody tr td {
    text-align: right;
}

.record-label {
    color:#DC298D;
    font-weight:bold;

}

.record-label2 {
    color: #06abeb;
    font-weight: bold;
}

.hr-style {
    border: 1px solid #212070;
    /*max-width: 300px;*/
    margin-left: 0;
}


/*
.myGrid td, .myGrid th {
    border: 1px solid #0DB8DE
}

.myTable tr th {
    border: 0px solid #6e7bd9;
    color: white;
    background-color: #6e7bd9;
}

.myTable, .myTable tr td {
    border: 0px solid #000;
}*/

